body {
	font-family: 'Lato', sans-serif;
	color: #0000ff;
	font-weight: 300;
}

/* Header */

.title-logo {
	margin-top: 20px;
}


.title-margin {
	margin-top: 0.7em;
	margin-bottom: 0;
}


.title-super {
	font-size: 4em;
}


.sub-margin {
	margin-top: 0.3em;
	margin-bottom: 0;
}


.sub-text {
	font-size: 1.3em;
}


.text-thin {
	font-weight: 100;
}

/* Content */

hr {
	background-color: #bcbbbb;
	border-width: 4px 0px 0px;
	border-top-width: 4px;
	margin-top: 1em;
	margin-bottom: 1.9em;
}


.feat-margin {
	margin-top: 0em; 
}


.text-muted {
	color: #bcbbbb;
}


.work-margin {
	margin-top: 0.4em;
}


.proj-big {
	font-size: 2em;
}

